body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: justify;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333; 
}

h1 {
  background-color: #333;
  color: #f4f4f4; 
  padding: 1rem 1rem; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 0; 
  left: 0; 
  right: 0; 
  margin: 0; 
  z-index: 1000;
}


/* Map container styling */
#map {
  height: 600px !important;
  width: 1000px !important; 
  border: 2px solid #f4f4f4;
  border-radius: 8px;
  margin: 20px auto; 
}

/* Image styling */
#image-container img {
  height: 600px; 
  width: 1000px !important;
  border-radius: 8px; 
  margin-top: 20px; 
}

/* Center content styling */
#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

/* Button and radio options container */
.button-radio-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 20px auto; 
}

/* Button styling */
button {
  padding: 12px 20px;
  font-size: 1.2rem;
  background-color: #333;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px; 
}

button:hover {
  background-color: #7a7a7a;
}

/* Loading spinner styling */
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #333;
  animation: spin 1s linear infinite;
  margin: 20px auto; 
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

/* Radio buttons and labels */
label {
  margin: 0 10px; 
  font-size: 1.1rem;
  display: flex; 
  align-items: center; /* Vertically centers the label text with the radio button */
}

/* Custom radio button styling */
input[type="radio"] {
  margin-right: 5px; 
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #333;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle; /* Ensures the radio button is vertically aligned with the text */
}

input[type="radio"]:checked::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-options {
  display: flex; 
  justify-content: center; 
}

footer {
  background-color: #333;
  color: #f4f4f4;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}